<owl-carousel-o [options]="customOptions" class="main-slider">

  <ng-template carouselSlide>
    <div class="slide-item">
      <img src="assets/images/main-slider-1.jpeg" />
      <div class="overlay">
        <div class="content">
          <h1>Discover New Collection</h1>
          <p>Best deals with high quality products</p>
          <button class="btn-shop">Shop Now</button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div class="slide-item">
      <img src="assets/images/main-slider-2.jpeg" />
      <div class="overlay">
        <div class="content">
          <h1>Big Sale 50% Off</h1>
          <p>Limited time offer</p>
          <button class="btn-shop">Explore</button>
        </div>
      </div>
    </div>
  </ng-template>

    <ng-template carouselSlide>
    <div class="slide-item">
      <img src="assets/images/slide2.jpeg" />
      <div class="overlay">
        <div class="content">
          <h1>Big Sale 50% Off</h1>
          <p>Limited time offer</p>
          <button class="btn-shop">Explore</button>
        </div>
      </div>
    </div>
  </ng-template>
    <ng-template carouselSlide>
    <div class="slide-item">
      <img src="assets/images/slide8.jpeg" />
      <div class="overlay">
        <div class="content">
          <h1>Big Sale 50% Off</h1>
          <p>Limited time offer</p>
          <button class="btn-shop">Explore</button>
        </div>
      </div>
    </div>
  </ng-template>
    <ng-template carouselSlide>
    <div class="slide-item">
      <img src="assets/images/slide5.jpeg" />
      <div class="overlay">
        <div class="content">
          <h1>Big Sale 50% Off</h1>
          <p>Limited time offer</p>
          <button class="btn-shop">Explore</button>
        </div>
      </div>
    </div>
  </ng-template>

</owl-carousel-o>
